<!DOCTYPE html>
<html>
<head>
    <title>Bienvenido a {{ appName }}</title>
</head>
<body>
    <h1>¡Hola, {{ name }}!</h1>
    <p>Gracias por registrarte en {{ appName }}.</p>
    <p>Para activar tu cuenta, por favor haz clic en el siguiente enlace:</p>
    <p><a href="{{ activationUrl }}">Activar mi Cuenta</a></p>
    <p>Si no te registraste, por favor ignora este correo.</p>
    <br>
    <p>Saludos,</p>
    <p>El equipo de {{ appName }}</p>
</body>
</html>